<div style="margin-bottom: 1em;text-align: center;">Voici la liste de tous vos locataires sinistrés</div>
<% current_user.locataires.each do |loc| %>
    <% loc.sinistres.order(created_at: :asc).each do |sinistre| %>
    <div class="col-xs-12 all_sinistre" style="padding: 15px;">
      <div class="col-xs-4" style="padding: 5px;"><%= sinistre.locataire.firstname + " " + sinistre.locataire.lastname %></div>
      <div class="col-xs-4" style="padding: 5px;"><%= sinistre.try(:start_date).try(:strftime, '%d/%m/%Y') %> <%= sinistre.try(:end_date).try(:strftime, '%d/%m/%Y') %></div>
      <% if sinistre.category == "Retard de paiement" %>
        <div class="col-xs-4 category-sin-loc yellowsin">
      <% elsif sinistre.category == "Paiement partiel" %>
        <div class="col-xs-4 category-sin-loc bleusin">
      <% else %>
        <div class="col-xs-4 category-sin-loc redsin">
      <% end %>
      <%= sinistre.category %>
      </div>
    </div>
    <% end %>
<% end %>