.supprimer_compte {
    border-radius: 10px;
    padding: 15px;
    }

.supprimer_compte h3 {
font-size: 16px;
    }

.titre_supprimer_compte {
      margin-bottom: 20px;
      margin-top: 8px;
}

.link_supp {
  color: #ee5f5b;
}

.link_supp:hover {
  color: #a94442;
}

.link_retour:hover {
  color: #333333;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}

.help-block {
  font-size: 12px;
}

#edit_user {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
