<div style="text-align: center"><img src="https://ci4.googleusercontent.com/proxy/B6j80nC0bmOhZO7MZ5BH8z01Ri0VC_Rupqf9yGGvqkB_psF0rfXUQqmfcBZVDpEj4_cD_iFsgpRWvsrrT11NPDW7gf0_QDgaVfY4DrV8Ljs0oV603wlacecycAO5hOE9=s0-d-e1-ft#http://quietrent.com/fr/test-v4-2/images/logos/logo_quietrent_text_v02.jpg"></div>



<h2>Creation de votre espace locataire</h2>

<p>Bonjour, <br>

Toute l'équipe QuietRent vous souhaite la bienvenue.
Vous trouverez ci dessous les identifiants de connexion vous permettant d'accéder à votre espace locataire.
<br>
<br>

Login: <b><%= @locataire.email %></b>
<br>
Mot de passe: <b><%= @devise_password %></b>
<br>
<br>

Voici un récapitulatif de vos informations :
<br>
Nom et Prenom: <b><%= @locataire.firstname.capitalize + ' ' + @locataire.lastname.capitalize %></b>
<br>
Position: <b>Locataire</b>
<br>
Proprietaire : <b><%= @locataire.user.firstname + ' ' + @locataire.user.lastname %></b>
<br>
<br>
Nous vous remercions et restons à votre disposition en cas de besoin.
<br>
<br>
Cordialement
<br>
Le service QuietRent Conciliation.
</p>
